<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8>
  <meta name=viewport content="width=device-width,initial-scale=1">
  <title>ele_ui_vue_web</title>
  <link href=/static/ele_ui_web/static/css/app.06326a480cb247b3abb2807893fefc89.css rel=stylesheet>
</head>
<body>
<div id=app></div>
<script type=text/javascript src=/static/ele_ui_web/static/js/manifest.c582ee93643d7c50d417.js></script>
<script type=text/javascript src=/static/ele_ui_web/static/js/vendor.e39b91f21c0775ca8b8a.js></script>
<script type=text/javascript src=/static/ele_ui_web/static/js/app.a50d91c25483700b38b2.js></script>
</body>
</html>