{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width,initial-scale=1">
    <title>my-project</title>
    <link href="{% static "dist/css/app.01e6f6a43b97ecd7bedb4866edf34902.css" %}" rel=stylesheet>
</head>
<body>
<div id=app></div>
<script type=text/javascript src="{% static "dist/js/manifest.325511233893c3960d28.js" %}"></script>
<script type=text/javascript src="{% static "dist/js/vendor.43e264cd9495249f3c9e.js" %}"></script>
<script type=text/javascript src="{% static "dist/js/app.f46dd4835523ec37cacf.js" %}"></script>
</body>
</html>