<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8>
  <meta http-equiv=X-UA-Compatible content="IE=edge,chrome=1">
  <meta name=renderer content=webkit>
  <meta name=viewport content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
  <title>vue-element-admin</title>
  <link rel="shortcut icon" href=/static/vadmin/favicon.ico>
  <link href=/static/vadmin/static/css/app.3dd6ace623ce35dd8f7af605b877b34b.css rel=stylesheet>
</head>
<body>
<script src=/static/vadmin/static/tinymce4.7.5/tinymce.min.js></script>
<div id=app></div>
<script type=text/javascript src=/static/vadmin/static/js/manifest.baa4135deb6d5a1f29af.js></script>
<script type=text/javascript src=/static/vadmin/static/js/vendor.f7fdfd2482fbc19445fb.js></script>
<script type=text/javascript src=/static/vadmin/static/js/app.16e41709f7f07c77336b.js></script>
</body>
</html>